#textdomain wesnoth-DB
[textdomain]
    name="wesnoth-DB"
[/textdomain]

# wmlscope: set export=no
[campaign]
    id=Dirty_Blood
    name= _ "Dirty Blood"
    abbrev= _ "DB"
    rank=301
    start_year="858 YW"
    end_year="891 YW"
    first_scenario=1_The_End_of_the_War
    define=CAMPAIGN_DIRTY_BLOOD
#ifver WESNOTH_VERSION < 1.17.18
    {ENABLE_NIGHTBLADE}
#endif
    {ENABLE_WOLF_ADVANCEMENT}

    [modify_unit_type]
        type="Ogre"
        add_advancement="Great Ogre"
        set_experience=70
    [/modify_unit_type]

    [modify_unit_type]
        type="Icemonax"
        add_advancement="Great Icemonax"
        set_experience=44
    [/modify_unit_type]

    [modify_unit_type]
        type="Goblin Impaler"
        add_advancement="DB Goblin Veteran,DB Goblin Grunt"
        set_experience=30
    [/modify_unit_type]

    {CAMPAIGN_DIFFICULTY EASY      "data/add-ons/Dirty_Blood/images/units/orcs/female/novice-orcish-shaman.png~RC(magenta>lightblue)" ( _ "Apperntice") ( _ "Easy") }
    {CAMPAIGN_DIFFICULTY NORMAL    "data/add-ons/Dirty_Blood/images/units/orcs/female/orcish-shaman.png~RC(magenta>lightblue)" ( _ "Witch") ( _ "Normal")} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD      "data/add-ons/Dirty_Blood/images/units/orcs/female/elder-orcish-shaman.png~RC(magenta>lightblue)" ( _ "Elder") ( _ "Hard")}

    description= _ "Being a half-breed, since his very birth Moog was an outcast in the Cold Blood clan. But shamans knew that spirits were relentlessly asserting: He shall rule! However, nobody could ever imagine what it would mean for the orcs of the Cold Blood and even for the whole of the orcish country...

" + _ "(Intermediate level, 12 scenarios.)"

    icon="data/add-ons/Dirty_Blood/images/icon.png~RC(magenta>lightblue)"
    image="data/add-ons/Dirty_Blood/images/portraits/bastard.png"

    [about]
        title = _ "Original Idea"
        [entry]
            name = "Mechanical"
        [/entry]
    [/about]
    [about]
        title = _ "Concept Assistance"
        [entry]
            name = "dwarftough"
        [/entry]
        [entry]
            name = "Anekron"
        [/entry]
    [/about]
    [about]
        title = _ "Unit Graphics"
        [entry]
            name = "Mechanical"
        [/entry]
    [/about]
    [about]
        title = _ "Map Design"
        [entry]
            name = "Mechanical"
        [/entry]
    [/about]
    [about]
        title = _ "Portraits"
        [entry]
            name = "1/2 Kordov"
        [/entry]
        [entry]
            name = "kabachuha"
        [/entry]
    [/about]
    [about]
        title = _ "Text Assistance"
        [entry]
            name = "dwarftough"
        [/entry]
        [entry]
            name = "durmoth"
        [/entry]
    [/about]
    [about]
        title = _ "WML Assistance"
        [entry]
            name = "dwarftough"
        [/entry]
        [entry]
            name = "ForestDragon"
        [/entry]
    [/about]
    [about]
        title = _ "Gameplay Tests"
        [entry]
            name = "dwarftough"
        [/entry]
        [entry]
            name = "ForestDragon"
        [/entry]
        [entry]
            name = "Anekron"
        [/entry]
        [entry]
            name = "durmoth"
        [/entry]
        [entry]
            name = "Konrad2"
        [/entry]
    [/about]
    [about]
        title = _ "Special Thanks"
        [entry]
            name = "Everyone who I forgot to mention!"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_DIRTY_BLOOD
{~add-ons/Dirty_Blood/utils}
{~add-ons/Dirty_Blood/scenarios}

[binary_path]
    path=data/add-ons/Dirty_Blood
[/binary_path]

[units]
    {~add-ons/Dirty_Blood/units}
    {~add-ons/Dirty_Blood/units/orcs}
    {~add-ons/Dirty_Blood/units/misc}
    {~add-ons/Dirty_Blood/units/monsters}
[/units]

#ifver WESNOTH_VERSION < 1.17.18
{./terrain_backport.cfg}
#endif
#endif

#ifdef EDITOR
#ifver WESNOTH_VERSION < 1.17.18
[binary_path]
    path=data/add-ons/Dirty_Blood
[/binary_path]
	{./terrain_backport.cfg}
#endif
#endif
