#textdomain-wesnoth-DB

#define ALL_SAVED
[if]

    [variable]
    name=saved_ogres
    numerical_equals=2
    [/variable]

    [then]

    [modify_unit]
    	[filter]
    		role=rebel1,rebel2
    	[/filter]
    	role=rebel
    [/modify_unit]

    [message]
    speaker=Mursha
    message= _"We've freed enough ogres to form a guard, now we can return to the settlement. The elders will resolve the conflict between the clans."
    [/message]
    [message]
    speaker=Bastard
    message= _"No. I want to punish the asshole."
    [/message]
    [scroll_to]
    x,y=39,11
    [/scroll_to]
    [delay]
    time=1000
    [/delay]
    [message]
    speaker=Mursha
    message= _"But the Dead Tree Fortress is well defended. We'll lose our entire army if we try to storm the walls. And we have no siege machines to breach the mighty gates."
    [/message]
    [message]
    speaker=Bastard
    message= _"Don't try to push me around. I'm the leader here. I want to storm the fortress. Think of something."
    [/message]
    [message]
    type="Young Ogre"
    message= _"Great Khan! We know how to take the fortress."
    [/message]
    [message]
    speaker=Bastard
    message= _"Speak, ogre."
    [/message]
    [message]
    type="Young Ogre"
    message= _"The evil chief has taken the strongest ogres to the fortress. They open and close the heavy gates. If they see that Khan has freed us, they will open the gate for Khan!"
    [/message]
    [message]
    speaker=Bastard
    message= _"I saw ogres in Deadwood's army. How can I believe you?"
    [/message]
    [message]
    type="Young Ogre"
    message= _"Great Khan, even though the strong ogres serve in the Dead Tree Army, they hate the evil leader in their hearts! They will definitely open the gates for Khan! You can eat me alive if I deceive you."
    [/message]
    [message]
    speaker=Bastard
    message= _"Hmm, all right. I order everyone to assemble under the castle gate!"
    [/message]
    [message]
    speaker=Mursha
    message= _"If you're going to storm the fortress, Moog, prepare well. Gather as many warriors as you can and start the ogre rebellion in the daytime. That way they'll last longer against the Deadwood Orcs."
    [/message]
    [message]
    speaker=Slaver_Main
    message= _"Useless servants lost slaves. It is time for me to take matters into my own hands."
    [/message]
    [modify_side]
    side=4
    #ifdef EASY
    recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Orcish Assassin
    #endif
    #ifdef NORMAL
    recruit=Orcish Grunt,Orcish Warrior,Orcish Archer,Orcish Assassin,Wolf Rider
    #endif
    #ifdef HARD
    recruit=Orcish Grunt,Orcish Warrior,Orcish Archer,Orcish Crossbowman,Orcish Assassin,Wolf Rider
    #endif
    {GOLD 150 200 250}
    [/modify_side]
    [modify_unit]
    [filter]
    role=first_wave
    [/filter]
    max_moves=$unit.max_moves
    [/modify_unit]

    {MOVE_UNIT x,y=29,6 36 8}
    {MOVE_UNIT x,y=37,3 39 7}
    {MOVE_UNIT x,y=49,12 42 8}
    
    [objectives]
          silent=no
            [objective]
                description= _ "Convince the ogres in the fortress to open the gate for you."
                condition=win
            [/objective]
            [objective]
                description= _ "To convince them, bring 5 ogres to the gate (3 hex radius from the gate)."
                condition=win
            [/objective]
            [objective]
                #ifdef EASY
                description= _ "The Death of 10 rebel ogres ($dead_ogres|/10)"
                #endif
                #ifdef NORMAL
                description= _ "The Death of 9 rebel ogres ($dead_ogres|/9)"
                #endif
                #ifdef HARD
                description= _ "The Death of 8 rebel ogres ($dead_ogres|/8)"
                #endif
                condition=lose
            [/objective]
            [objective]
                description= _ "The Death of Moog the Harmful"
                condition=lose
            [/objective]
             [objective]
                description= _ "The Death of Mursha"
                condition=lose
            [/objective]
            [note]
                description=_"Orc Assassins can be useful for weakening the defenders of a fortress before an assault."
            [/note]
            [gold_carryover]
                bonus=yes
                carryover_percentage=20
            [/gold_carryover]
    [/objectives] 

    {CLEAR_VARIABLE saved_ogres}   

    [set_variable]
    name=rebellion
    value=0
    [/set_variable]
        [micro_ai]
            side=2
            ai_type=simple_attack
            action=delete
        [/micro_ai]
        [micro_ai]
            side=2
            ai_type=coward
            action=delete
        [/micro_ai]
        [micro_ai]
            side=3
            ai_type=simple_attack
            action=delete
        [/micro_ai]
        [micro_ai]
            side=4
            ai_type=simple_attack
            action=delete
        [/micro_ai]
    [/then]
    [else]
    [/else]
[/if]
#enddef
#define WOLF_CAGE X Y SIDE

{PLACE_IMAGE "units/monsters/wolf.png" {X} {Y}}
{PLACE_IMAGE "items/cage.png" {X} {Y}}

[event]
name=moveto
first_time_only=yes
    [filter]
        side=1,2
        [filter_location]
        x,y={X},{Y}
        radius=1
        [/filter_location]
    [/filter]
    [fire_event]
    id=cage_trigger_{X}_{Y}_{SIDE}
    [/fire_event]
[/event]
[event]
name=open_all_cages{SIDE}
id=cage_trigger_{X}_{Y}_{SIDE}
    [sound]
    name=flail-miss.ogg
    [/sound]
    [delay]
    time=300
    [/delay]

    {REMOVE_IMAGE {X} {Y}}

    [unit]
    type=Wolf
    side={SIDE}
    x,y={X},{Y}
    animate=no
    [/unit]
    [sound]
    name={SOUND_LIST:WOLF_GROWL}
    [/sound]
    {VARIABLE_OP open_cages{SIDE} add 1}
[/event]
#enddef
#define SCENARIO_4_CAGE_CONDITIONAL ID SIDE TURN X Y
[event]
name=side_{SIDE}_turn_{TURN}
first_time_only=yes
    [if]
    [have_unit]
    id={ID}
    [/have_unit]
    [then]
    [fire_event]
    id=cage_trigger_{X}_{Y}_{SIDE}
    [/fire_event]
    [/then]
    [else]
    [/else]
    [/if]
[/event]
#enddef

#define ALLOW_WOLVES
[if]
    [variable]
        name=has_wolves
        numerical_equals=1
    [/variable]
    [then]
    [allow_recruit]
    side=1
    type=Wolf
    [/allow_recruit]
    [/then]
    [else]
    [/else]
[/if]
#enddef
#define EXP_BOOK X Y VALUE
    [event]
        name=moveto
        first_time_only=yes
        
        [filter]
            x,y={X},{Y}
            side=1
        [/filter]
        [message]
            speaker=narrator
            message= _ "later"
        [/message]

    [store_unit]
        [filter]
            x,y={X},{Y}
        [/filter]
        variable=reader
    [/store_unit]

    {VARIABLE experience_gained {VALUE}}
    {VARIABLE_OP reader.experience add $experience_gained|}
    [floating_text]
        x,y={X},{Y}
        text="<span color='#800080'>" + _ "+$experience_gained| exp" + "</span>"
    [/floating_text]
    {CLEAR_VARIABLE experience_gained}

    [unstore_unit]
        variable=reader
    [/unstore_unit]

    {CLEAR_VARIABLE reader}
    [/event]
#enddef

