#textdomain-wesnoth-DB
#define ALLOW_WOLVES
[if]
    [variable]
        name=has_wolves
        numerical_equals=1
    [/variable]
    [then]
    [allow_recruit]
    side=1
    type=Wolf
    [/allow_recruit]
    [/then]
    [else]
    [/else]
[/if]
#enddef
#define ALLOW_CLANS
[if]
    [variable]
        name=has_trolls
        numerical_equals=1
    [/variable]
    [then]
    [allow_recruit]
    side=1
    type=Troll Whelp
    [/allow_recruit]
    [/then]
    [else]
    [/else]
[/if]
[if]
    [variable]
        name=has_grunts
        numerical_equals=1
    [/variable]
    [then]
    [allow_recruit]
    side=1
    type=Orcish Grunt
    [/allow_recruit]
    [/then]
    [else]
    [/else]
[/if]
[if]
    [variable]
        name=has_leaders
        numerical_equals=1
    [/variable]
    [then]
    [allow_recruit]
    side=1
    type=Orcish Leader
    [/allow_recruit]
    [/then]
    [else]
    [/else]
[/if]
#enddef
#define EXP_BOOK X Y VALUE
    [event]
        name=moveto
        first_time_only=yes
        
        [filter]
            x,y={X},{Y}
            side=1
        [/filter]
        [message]
            speaker=narrator
            message= _ "later"
        [/message]

    [store_unit]
        [filter]
            x,y={X},{Y}
        [/filter]
        variable=reader
    [/store_unit]

    {VARIABLE experience_gained {VALUE}}
    {VARIABLE_OP reader.experience add $experience_gained|}
    [floating_text]
        x,y={X},{Y}
        text="<span color='#800080'>" + _ "+$experience_gained| exp" + "</span>"
    [/floating_text]
    {CLEAR_VARIABLE experience_gained}

    [unstore_unit]
        variable=reader
    [/unstore_unit]

    {CLEAR_VARIABLE reader}
    [/event]
#enddef

#define FIRE

[event]
    name=moveto
    first_time_only=no

        [filter]
            [filter_location]
                 terrain=*^F*#forest
            [/filter_location]
            [and]
            id=Burner
            [or]
            id=Burner2
            [/or]
            [/and]
        [/filter]

        [message]
        speaker=unit
        message=_ "Set the fire here, chief?"
        [/message]
        [message]
        speaker=Bastard
        message= _ "I think..."
        [option]
        label= _ "Yes!"
        [command]

        [store_locations]
            terrain=*^F*#forest
            x,y=$x1,$y1
            variable=burned_locs
            mode=append
        [/store_locations]
        [sound]
            name=fire.wav
        [/sound]
        [item]
            x=$x1
            y=$y1
            name=db_flames
            halo=scenery/flames[01~15].png:50
        [/item]

        [terrain]
            terrain=^#empty terrain
            x,y=$x1,$y1
            layer=overlay
        [/terrain]
        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            id=$unit.id|_out
        [/modify_unit]
        [/command]
        [/option]
        [option]
            label= _ "No, find someplace else."
            [command]
            [/command]
        [/option]
        [/message]
    [/event]

    [event]
    name=new_turn
    first_time_only=no

    {IF_VAR burned_locs.length greater_than 0 (
    [then]
        [sound]
            name=fire.wav
        [/sound]
    [/then]
    )}
    [store_locations]
        find_in=burned_locs
        variable=burned_locs_old
        mode=replace
    [/store_locations]
    [foreach]
        array=burned_locs_old
        index_var=i
        [do]
            [remove_item]
                image=db_flames
                x,y=$this_item.x,$this_item.y
            [/remove_item]
            [terrain]
            terrain=^Edt
            x,y=$this_item.x,$this_item.y
            layer=overlay
            [/terrain]
        [/do]
    [/foreach]
    {CLEAR_VARIABLE burned_locs}
    [store_locations]
        terrain=*^F*#forest
        [and]
            find_in=burned_locs_old
            radius=1
        [/and]   
        variable=burned_locs
        mode=replace#this removes old tiles which are no longer relevant
    [/store_locations]
    {CLEAR_VARIABLE burned_locs_old}
    [foreach]
        array=burned_locs
        index_var=i
        [do]
            [terrain]
            terrain=^#empty
            x,y=$this_item.x,$this_item.y
            layer=overlay
            [/terrain]
            [item]
                x,y=$this_item.x,$this_item.y
                name=db_flames
                halo=scenery/flames[01~15].png:50
            [/item]
        [/do]
    [/foreach]
    [harm_unit]
        [filter]
            [filter_location]
                find_in=burned_locs
            [/filter_location]
        [/filter]
        amount=20
        damage_type=fire
        experience=no
        fire_event=yes
        animate=yes
    [/harm_unit]
    [/event]

    [event]
    name=victory

       {CLEAR_VARIABLE burned_locs}
       {CLEAR_VARIABLE burned_locs_old}
    [/event]
#enddef

#define BEAR_QUEST_1

    [event]
    name=sighted
    first_time_only=yes

        [filter]
            id=Mystery_Bear
        [filter_second]
            side=1
        [/filter_second]
        [/filter]

        [message]
        speaker=Mystery_Bear
        message=_ "Argh! Get back! Rrrr! Stay back! Rrrr!"
        [/message]
        [message]
        speaker=second_unit
        message=_ "A talking bear!"
        [/message]
        [message]
        speaker=Mursha
        message=_ "I sense he's bewitched. Maybe it has something to do with the Spirit of the Hunt. Watch him, but don't come any closer."
        [/message]
    [/event]

#enddef
#define BEAR_QUEST_2
    
    [event]
    name=sighted
    first_time_only=yes

        [filter]
            id=Cursed_Orc_Ally
        [filter_second]
            side=1
        [/filter_second]
        [/filter]

        [message]
        speaker=second_unit
        message=_ "There's a strange orc!"
        [/message]
        [message]
        speaker=Mursha
        message=_ "I feel wild magic. What are you, stranger?"
        [/message]
        [message]
        speaker=Cursed_Orc_Ally
        message=_ "I am Azuk, former leader of the Cold Blood hunters. I was once given great power by the Spirit of the Hunt and learned to turn into a bear. I was to become a great hunter, but one day I lost my prey. The Hunting Spirit became angry and turned his blessing into a curse. I lost control of my transformations and killed all my companions. And then I waited for years to become my own prey. That was the fate the Hunted Spirit had in store for me!"
        [/message]
        [message]
        speaker=Bastard
        message=_ "My name is Moog the Harmful. I killed the Avatar of the Hunt and broke your curse. Soon I will be the leader of the Cold Blood. Join me, Azuk."
        [/message]
        [message]
        speaker=Cursed_Orc_Ally
        message=_ "I owe you a debt of gratitude, Moog the Harmful. Feels like I can control my transformations again. I will fight for you. I will use this power against your enemies."
        [/message]
        [modify_unit]
            [filter]
                id=Cursed_Orc_Ally
            [/filter]
            side=1
            id=Cursed_Orc
        [/modify_unit]
    [/event]
#enddef

#define BEAR_QUEST_3

[event]
name=new_turn
first_time_only=no

    [if]

        [have_unit]
        id=Cursed_Orc_Ally
        [filter_vision]
                side=1
                visible=yes
        [/filter_vision] 
        [/have_unit]

        [then]
        [message]
        side=1
        canrecruit=no
        gender=male
        message=_ "The bear has turned into an orc!"
        [/message]
        [message]
        speaker=Mursha
        message=_ "That's what I thought. What are you, a shapeshifter?"
        [/message]
        [message]
        speaker=Cursed_Orc_Ally
        message=_ "I am Azuk, former leader of the Cold Blood hunters. I was once given great power by the Spirit of the Hunt and learned to turn into a bear. I was to become a great hunter, but one day I lost my prey. The Hunting Spirit became angry and turned his blessing into a curse. I lost control of my transformations and killed all my companions. And then I waited for years to become my own prey. That was the fate the Hunted Spirit had in store for me!"
        [/message]
        [message]
        speaker=Bastard
        message=_ "My name is Moog the Harmful. I killed the Avatar of the Hunt and broke your curse. Soon I will be the leader of the Cold Blood. Join me, Azuk."
        [/message]
        [message]
        speaker=Cursed_Orc_Ally
        message=_ "I owe you a debt of gratitude, Moog the Harmful. Feels like I can control my transformations again. I will fight for you. I will use this power against your enemies."
        [/message]
        [modify_unit]
            [filter]
                id=Cursed_Orc_Ally
            [/filter]
            side=1
            id=Cursed_Orc
        [/modify_unit]
        [/then]
        [else]
        [/else]
    [/if]
[/event]

#enddef
#define TYPE_ON_DIFFICULTY EASY NORMAL HARD
    #ifdef EASY
        type={EASY}
    #endif
    #ifdef NORMAL
        type={NORMAL}
    #endif
    #ifdef HARD
        type={HARD}
    #endif
#enddef
#define LOW_HP EASY NORMAL HARD
    [modifications]
    [effect]
        apply_to=hitpoints
        #ifdef EASY
        increase=-{EASY}%
        #endif
        #ifdef NORMAL
        increase=-{NORMAL}%
        #endif
        #ifdef HARD
        increase=-{HARD}%
        #endif
    [/effect]
    [/modifications]
#enddef

#define PET_EVENTS

    [event]
    name=pre_advance
    first_time_only=yes

        [filter]
            id=pet
            type=Icemonax
        [/filter]

        [message]
        speaker=Bastard
        message=_ "Evilgnaw has finally grown into the huge, scary beastie I've long dreamed of! I'm gonna feed him my enemies."
        [/message]
    [/event]
    [event]
    name=die
    first_time_only=yes

        [filter]
            id=pet
        [/filter]

        [message]
        speaker=Bastard
        message=_ "No! My pet is dead!"
        [/message]
        [message]
        speaker=Mursha
        message=_ "<span size='small'><i>It was the only creature that Moog showed any care for...</i></span>"
        [/message]
    [/event]
#enddef
           


