#textdomain-wesnoth-DB

#define SCENARIO_1_STARTING_ARMY

    [unit]
        type="Goblin Spearman"
        x=11
        y=11
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=11
        y=14
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=15
        y=11
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=15
        y=14
    [/unit]
    [unit]
        type="Goblin Rouser"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=33
        y=12
    [/unit]
    [unit]
        type="Goblin Rouser"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=33
        y=15
    [/unit]
    [unit]
        type="Goblin Impaler"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=39
        y=12
    [/unit]
    [unit]
        type="Goblin Impaler"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=39
        y=15
    [/unit]
    [unit]
        type="Orcish Archer"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=36
        y=11
    [/unit]
    [unit]
        type="Orcish Archer"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=36
        y=15
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=26
        y=12
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=25
        y=12
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=24
        y=12
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=26
        y=14
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=25
        y=15
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=24
        y=14
    [/unit]

#enddef
#define SCENARIO_1_WAVE_1

    [unit]
        side=3
        name=_ "Alliance Skirmisher"
        type="Horseman"
        x=38
        y=1
    [/unit]
    [unit]
        side=3
        type="Horseman"
        name=_ "Alliance Skirmisher"
        x=37
        y=25
    [/unit]
    [unit]
        side=3
        type="Bowman"
        name=_ "Alliance Skirmisher"
        x=36
        y=24
    [/unit]
    [unit]
        side=3
        type="Bowman"
        name=_ "Alliance Skirmisher"
        x=38
        y=24
    [/unit]
    [unit]
        side=3
        type="Bowman"
        name=_ "Alliance Skirmisher"
        x=39
        y=2
    [/unit]
    [unit]
        side=3
        type="Bowman"
        name=_ "Alliance Skirmisher"
        x=37
        y=2
    [/unit]
    [unit]
        side=3
        type="Elvish Archer"
        name=_ "Alliance Skirmisher"
        x=35
        y=25
    [/unit]
    [unit]
        side=3
        type="Elvish Fighter"
        name=_ "Alliance Skirmisher"
        x=39
        y=25
    [/unit]
    [unit]
        side=3
        type="Elvish Fighter"
        name=_ "Alliance Skirmisher"
        x=36
        y=1
    [/unit]
    [unit]
        side=3
        type="Elvish Archer"
        name=_ "Alliance Skirmisher"
        x=40
        y=1
    [/unit]
    [unit]
        side=3
        type="Drake Glider"
        name=_ "Alliance Skirmisher"
        x=28
        y=1
    [/unit]
    [unit]
        side=3
        type="Drake Glider"
        name=_ "Alliance Skirmisher"
        x=22
        y=24
    [/unit]
#enddef
#define SCENARIO_1_WAVE_2

    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Spearman"
        x=37
        y=2
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Spearman"
        x=39
        y=2
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Elvish Scout"
        x=38
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Elvish Scout"
        x=37
        y=25
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Footpad"
        x=40
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Footpad"
        x=36
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Footpad"
        x=35
        y=25
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Footpad"
        x=39
        y=25
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Spearman"
        x=36
        y=24
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Spearman"
        x=38
        y=24
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Drake Fighter"
        x=28
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Drake Fighter"
        x=22
        y=24
    [/unit]
#enddef
#define SCENARIO_1_WAVE_3
    [unit]
        side=3
        name="Alliance Soldier"
        type="Drake Burner"
        x=28
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Drake Burner"
        x=22
        y=24
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Heavy Infantryman"
        x=37
        y=2
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Heavy Infantryman"
        x=39
        y=2
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Heavy Infantryman"
        x=36
        y=24
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Heavy Infantryman"
        x=38
        y=24
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Cavalryman"
        x=38
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Cavalryman"
        x=37
        y=25
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Elvish Hero"
        x=40
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Elvish Hero"
        x=39
        y=25
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Elvish Fighter"
        x=36
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Elvish Fighter"
        x=35
        y=25
    [/unit]
#enddef
#define SCENARIO_1_WAVE_4

    [unit]
        side=3
        name=_ "Alliance Commander"
        type="Dwarvish Lord"
        random_traits=no
        id=Commander1
        x=38
        y=1
    [/unit]
    [unit]
        side=3
        type="Iron Mauler"
        name=_ "Alliance Commander"
        random_traits=no
        id=Commander2
        x=37
        y=25
    [/unit]
    [unit]
        side=3
        type="Shock Trooper"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=36
        y=24
    [/unit]
    [unit]
        side=3
        type="Shock Trooper"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=38
        y=24
    [/unit]
    [unit]
        side=3
        type="Dwarvish Steelclad"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=39
        y=2
    [/unit]
    [unit]
        side=3
        type="Dwarvish Steelclad"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=37
        y=2
    [/unit]
    [unit]
        side=3
        type="Shock Trooper"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=35
        y=25
    [/unit]
    [unit]
        side=3
        type="Shock Trooper"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=39
        y=25
    [/unit]
    [unit]
        side=3
        type="Dwarvish Steelclad"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=36
        y=1
    [/unit]
    [unit]
        side=3
        type="Dwarvish Steelclad"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=40
        y=1
    [/unit]
#enddef
#define SCENARIO_1_BONUS_WAVE
#ifdef EASY

   [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Scout
    x,y=11,3
    id=Scout1
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout1 11 4}

    [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Fighter
    x,y=11,3
    id=Scout2
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout2 12 3}
#endif
#ifdef NORMAL

   [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Scout
    x,y=11,3
    id=Scout1
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout1 11 4}

    [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Fighter
    x,y=11,3
    id=Scout2
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout2 12 3}

    [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Thunderer
    x,y=11,3
    id=Scout3
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout3 10 3}
#endif
#ifdef HARD

   [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Pathfinder
    x,y=11,3
    id=Scout1
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout1 11 4}

    [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Fighter
    x,y=11,3
    id=Scout2
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout2 12 3}

    [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Thunderer
    x,y=11,3
    id=Scout3
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout3 10 3}
#endif
#enddef