#textdomain-wesnoth-DB

#define SCENARIO_1_STARTING_ARMY

    [unit]
        type="Goblin Spearman"
        x=11
        y=11
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=11
        y=14
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=15
        y=11
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=15
        y=14
    [/unit]
    [unit]
        type="Goblin Rouser"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=33
        y=12
    [/unit]
    [unit]
        type="Goblin Rouser"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=33
        y=15
    [/unit]
    [unit]
        type="Goblin Impaler"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=39
        y=12
    [/unit]
    [unit]
        type="Goblin Impaler"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=39
        y=15
    [/unit]
    [unit]
        type="Orcish Archer"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=36
        y=11
    [/unit]
    [unit]
        type="Orcish Archer"
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        x=36
        y=15
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=26
        y=12
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=25
        y=12
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=24
        y=12
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=26
        y=14
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=25
        y=15
    [/unit]
    [unit]
        type="Goblin Spearman"
        x=24
        y=14
    [/unit]

#enddef
#define SCENARIO_1_WAVE_1

    [unit]
        side=3
        name=_ "Alliance Skirmisher"
        type="Horseman"
        x=38
        y=1
    [/unit]
    [unit]
        side=3
        type="Horseman"
        name=_ "Alliance Skirmisher"
        x=37
        y=25
    [/unit]
    [unit]
        side=3
        type="Bowman"
        name=_ "Alliance Skirmisher"
        x=36
        y=24
    [/unit]
    [unit]
        side=3
        type="Bowman"
        name=_ "Alliance Skirmisher"
        x=38
        y=24
    [/unit]
    [unit]
        side=3
        type="Bowman"
        name=_ "Alliance Skirmisher"
        x=39
        y=2
    [/unit]
    [unit]
        side=3
        type="Bowman"
        name=_ "Alliance Skirmisher"
        x=37
        y=2
    [/unit]
    [unit]
        side=3
        type="Elvish Archer"
        name=_ "Alliance Skirmisher"
        x=35
        y=25
    [/unit]
    [unit]
        side=3
        type="Elvish Fighter"
        name=_ "Alliance Skirmisher"
        x=39
        y=25
    [/unit]
    [unit]
        side=3
        type="Elvish Fighter"
        name=_ "Alliance Skirmisher"
        x=36
        y=1
    [/unit]
    [unit]
        side=3
        type="Elvish Archer"
        name=_ "Alliance Skirmisher"
        x=40
        y=1
    [/unit]
    [unit]
        side=3
        type="Drake Glider"
        name=_ "Alliance Skirmisher"
        x=28
        y=1
    [/unit]
    [unit]
        side=3
        type="Drake Glider"
        name=_ "Alliance Skirmisher"
        x=22
        y=24
    [/unit]
#enddef
#define SCENARIO_1_WAVE_2

    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Spearman"
        x=37
        y=2
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Spearman"
        x=39
        y=2
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Elvish Scout"
        x=38
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Elvish Scout"
        x=37
        y=25
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Footpad"
        x=40
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Footpad"
        x=36
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Footpad"
        x=35
        y=25
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Footpad"
        x=39
        y=25
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Spearman"
        x=36
        y=24
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Spearman"
        x=38
        y=24
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Drake Fighter"
        x=28
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Skirmisher"
        type="Drake Fighter"
        x=22
        y=24
    [/unit]
#enddef
#define SCENARIO_1_WAVE_3
    [unit]
        side=3
        name="Alliance Soldier"
        type="Drake Burner"
        x=28
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Drake Burner"
        x=22
        y=24
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Heavy Infantryman"
        x=37
        y=2
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Heavy Infantryman"
        x=39
        y=2
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Heavy Infantryman"
        x=36
        y=24
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Heavy Infantryman"
        x=38
        y=24
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Cavalryman"
        x=38
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Cavalryman"
        x=37
        y=25
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Elvish Hero"
        x=40
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Elvish Hero"
        x=39
        y=25
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Elvish Fighter"
        x=36
        y=1
    [/unit]
    [unit]
        side=3
        name="Alliance Soldier"
        type="Elvish Fighter"
        x=35
        y=25
    [/unit]
#enddef
#define SCENARIO_1_WAVE_4

    [unit]
        side=3
        name=_ "Alliance Commander"
        type="Dwarvish Lord"
        random_traits=no
        id=Commander1
        x=38
        y=1
    [/unit]
    [unit]
        side=3
        type="Iron Mauler"
        name=_ "Alliance Commander"
        random_traits=no
        id=Commander2
        x=37
        y=25
    [/unit]
    [unit]
        side=3
        type="Shock Trooper"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=36
        y=24
    [/unit]
    [unit]
        side=3
        type="Shock Trooper"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=38
        y=24
    [/unit]
    [unit]
        side=3
        type="Dwarvish Steelclad"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=39
        y=2
    [/unit]
    [unit]
        side=3
        type="Dwarvish Steelclad"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=37
        y=2
    [/unit]
    [unit]
        side=3
        type="Shock Trooper"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=35
        y=25
    [/unit]
    [unit]
        side=3
        type="Shock Trooper"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=39
        y=25
    [/unit]
    [unit]
        side=3
        type="Dwarvish Steelclad"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=36
        y=1
    [/unit]
    [unit]
        side=3
        type="Dwarvish Steelclad"
        name=_ "Alliance Shocktrooper"
        random_traits=no
        x=40
        y=1
    [/unit]
#enddef
#define SCENARIO_1_BONUS_WAVE
#ifdef EASY

   [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Scout
    x,y=11,3
    id=Scout1
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout1 11 4}

    [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Fighter
    x,y=11,3
    id=Scout2
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout2 12 3}
#endif
#ifdef NORMAL

   [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Scout
    x,y=11,3
    id=Scout1
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout1 11 4}

    [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Fighter
    x,y=11,3
    id=Scout2
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout2 12 3}

    [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Thunderer
    x,y=11,3
    id=Scout3
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout3 10 3}
#endif
#ifdef HARD

   [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Pathfinder
    x,y=11,3
    id=Scout1
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout1 11 4}

    [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Fighter
    x,y=11,3
    id=Scout2
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout2 12 3}

    [unit]
    side=3
    name=_ "Alliance Soldier"
    type=Dwarvish Thunderer
    x,y=11,3
    id=Scout3
    animate=yes
    [/unit]

    {MOVE_UNIT id=Scout3 10 3}
#endif
#enddef

#define TRIAL_WAVE
    [unit]
		side=3
		type="Icemonax"
		x=5
		y=26
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Icemonax"
		x=5
		y=27
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Icemonax"
		x=6
		y=26
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Great Icemonax"
		x=4
		y=23
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Icemonax"
		x=7
		y=22
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Icemonax"
		x=7
		y=23
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Icemonax"
		x=6
		y=22
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Giant Stoat"
		x=11
		y=22
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Giant Stoat"
		x=16
		y=25
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Wolf"
		x=4
		y=31
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Wolf"
		x=4
		y=32
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Roc"
		x=24
		y=22
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Wolf"
		x=20
		y=32
        animate=yes
        role=smol
	[/unit]
	[unit]
		side=3
		type="Wolf"
		x=22
		y=32
        animate=yes
        role=smol
	[/unit]
#enddef
#define SCENARIO_1_ORC_WAVE_1
    [unit]
        side=2
        #ifdef EASY
        type="Orcish Warrior"
        #endif
        #ifdef NORMAL
        type="Orcish Grunt"
        #endif
        #ifdef HARD
        type="Orcish Grunt"
        #endif
        x=44
        y=12
        animate=yes
    [/unit]
    [unit]
        side=2
        type="Orcish Grunt"
        x=43
        y=13
        animate=yes
    [/unit]
    [unit]
        side=2
        type="Orcish Archer"
        x=43
        y=12
        animate=yes
    [/unit]
#enddef
#define SCENARIO_1_ORC_WAVE_2
    [unit]
        side=2
        #ifdef EASY
        type="Orcish Crossbowman"
        #endif
        #ifdef NORMAL
        type="Orcish Archer"
        #endif
        #ifdef HARD
        type="Orcish Archer"
        #endif
        x=44
        y=12
        animate=yes
    [/unit]
    [unit]
        role=retreat
        side=2
        type="Orcish Grunt"
        x=43
        y=13
        animate=yes
    [/unit]
#enddef
#define SCENARIO_1_ORC_WAVE_3
    [unit]
        side=2
        type="Orcish Grunt"
        x=43
        y=13
        animate=yes
    [/unit]
    [unit]
        side=2
        type="Orcish Grunt"
        x=43
        y=13
        animate=yes
    [/unit]
    [unit]
        side=2
        type="Orcish Grunt"
        x=43
        y=13
        animate=yes
    [/unit]
#enddef
#define SCENARIO_4_SLAVER_ARMY
    [unit]
        role=treator
		type="Ogre"
		x=40
		y=14
        max_moves=0
	[/unit]
	[unit]
        role=treator
		type="Ogre"
		x=34
		y=12
        max_moves=0
	[/unit]
	[unit]
        role=treator
		type="Ogre"
		x=43
		y=13
        max_moves=0
	[/unit]
	[unit]
        role=treator
		type="Ogre"
		x=35
		y=7
        max_moves=0
	[/unit]
	[unit]
        role=treator
		type="Ogre"
		x=41
		y=6
        max_moves=0
	[/unit]
	[unit]
        role=treator
		type="Ogre"
		x=37
		y=3
        max_moves=0
	[/unit]
	[unit]
        role=treator
		type="Ogre"
		x=49
		y=12
        max_moves=0
	[/unit]
	[unit]
        role=treator
		type="Ogre"
		x=29
		y=6
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Crossbowman"
		x=34
		y=10
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Warrior"
		x=41
		y=14
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Warrior"
		x=33
		y=10
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Warrior"
		x=38
		y=5
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Warrior"
		x=44
		y=7
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=42
		y=6
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=44
		y=8
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=44
		y=11
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=42
		y=14
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=32
		y=9
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=34
		y=8
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=35
		y=5
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=37
		y=6
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Archer"
		x=35
		y=6
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Archer"
		x=43
		y=6
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Archer"
		x=36
		y=2
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=30
		y=5
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=29
		y=8
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=32
		y=15
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Archer"
		x=41
		y=18
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=40
		y=18
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=48
		y=15
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Archer"
		x=48
		y=14
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Crossbowman"
		x=45
		y=10
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Crossbowman"
		x=43
		y=12
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Crossbowman"
		x=35
		y=11
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Archer"
		x=29
		y=11
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=43
		y=14
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Crossbowman"
		x=43
		y=15
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Grunt"
		x=33
		y=9
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Archer"
		x=45
		y=11
        max_moves=0
	[/unit]
	[unit]
		type="Orcish Archer"
		x=46
		y=10
        max_moves=0
	[/unit]
#enddef
#define SCENARIO_4_WOOD_SLAVES

	[unit]
        role=rebel1
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=18
		y=9
	[/unit]
	[unit]
        role=rebel1
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
        id=First_Rebel
		type="Young Ogre"
		x=15
		y=11
	[/unit]
	[unit]
        role=rebel1
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=21
		y=10
	[/unit]
	[unit]
        role=rebel1
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=11
		y=13
	[/unit]
	[unit]
        role=rebel1
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=7
		y=11
	[/unit]
	[unit]
        role=rebel1
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=10
		y=10
	[/unit]
	[unit]
        role=rebel1
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=13
		y=9
	[/unit]
#enddef
#define SCENARIO_4_FARM_SLAVES
    [unit]
        role=rebel2
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=32
		y=28
	[/unit]
	[unit]
		role=rebel2
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=37
		y=27
	[/unit]
	[unit]
        role=rebel2
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=38
		y=31
	[/unit]
	[unit]
		role=rebel2
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=41
		y=24
	[/unit]
	[unit]
		role=rebel2
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=27
		y=30
	[/unit]
	[unit]
		role=rebel2
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=33
		y=31
	[/unit]
	[unit]
		role=rebel2
        [modifications]
        {TRAIT_LOYAL}
        [/modifications]
		type="Young Ogre"
		x=42
		y=28
	[/unit]
#enddef
