#textdomain wesnoth-DB
[unit_type]
    id=Orc Bastard
    name= _ "Bastard"
    race=orc
    image="units/orcs/bastard/bastard.png"
    profile="portraits/bastard.png"
    hitpoints=50
    movement_type=orcishfoot
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    cost=40
    usage=fighter
    description= _ "Half-breeds of orcs and ogres are rare, but these creatures are very dangerous. They inherit the best of both races - strength and size from the ogres, cruelty and cunning from the orcs. Neither as stupid as ogres nor as reckless as orcs, these half-breeds can achieve much in life, but the cruel social system of both races often makes them outcasts."
    die_sound={SOUND_LIST:ORC_DIE}
    [abilities]
        {ABILITY_HATRED}
    [/abilities]
    [attack]
        name=cleaver
        description=_"cleaver"
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
     [attack]
        name=mace
        description=_"mace"
        type=impact
        range=melee
        damage=10
        number=2
    [/attack]

    {DEFENSE_ANIM "units/orcs/bastard/bastard.png" "units/orcs/bastard/bastard.png" {SOUND_LIST:ORC_HIT} }  
    [attack_anim]
        [filter_attack]
            name=cleaver
        [/filter_attack]
        start_time=-325

        [frame]
            image="units/orcs/bastard/bastard.png:350"
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
          [filter_attack]
            name=mace
        [/filter_attack]
        start_time=-325

        [frame]
            image="units/orcs/bastard/bastard.png:350"
        [/frame]

        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -50}
        
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Orc Bastard Onearm
    hide_help=yes
    name= _ "Bastard"
    race=orc
    image="units/orcs/bastard/bastard-wounded.png"
    profile="portraits/bastard.png"
    hitpoints=50
    movement_type=orcishfoot
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    cost=40
    usage=fighter
    description= _ "An experienced, battle-hardened, and brutal half-breed like Moog is dangerous even with one arm. He has lost some of his strength, but he has awakened an orcish hatred that makes him fight even harder than with two hands."
    die_sound={SOUND_LIST:ORC_DIE}
    [abilities]
        {ABILITY_HATRED}
    [/abilities]
    [attack]
        name=cleaver
        description=_"cleaver"
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
        {DEFENSE_ANIM "units/orcs/bastard/bastard-wounded.png" "units/orcs/bastard/bastard-wounded.png" {SOUND_LIST:ORC_HIT} }  
    [attack_anim]
        [filter_attack]
            name=cleaver
        [/filter_attack]
        start_time=-325

        [frame]
            image="units/orcs/bastard/bastard-wounded.png:350"
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Orc Bastard Beast
    hide_help=yes
    name= _ "Beast"
    race=orc
    image="units/orcs/bastard/beast.png"
    profile="portraits/bastard.png"
    hitpoints=50
    movement_type=orcishfoot
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    cost=40
    usage=fighter
    description= _ "Orc, ogre and troll all in one, Moog has become a true monster. His appearance is terrifying, and he is stronger and more vicious than any ogre or orc. He clings to life with a grasp of stone, both literally and figuratively."
    die_sound={SOUND_LIST:ORC_DIE}
    [abilities]
        {ABILITY_HATRED}
    [/abilities]
    [attack]
        name=cleaver
        description=_"cleaver"
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=fist
        description=_"troll's fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=12
        number=2
    [/attack]
        {DEFENSE_ANIM "units/orcs/bastard/beast.png" "units/orcs/bastard/beast.png" {SOUND_LIST:ORC_HIT} }  
    [attack_anim]
        [filter_attack]
            name=cleaver
        [/filter_attack]
        start_time=-325

        [frame]
            image="units/orcs/bastard/beast.png:350"
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    
    [attack_anim]
          [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-325

        [frame]
            image="units/orcs/bastard/bastard.png:350"
        [/frame]

        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -50}
        
    [/attack_anim]
[/unit_type]
